<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- this allows us to store the base url independently of the code -->
		<add key="base_url" value="https://omgvamp-hearthstone-v1.p.rapidapi.com/"/>
		<add key="api_key" value="2fb630bbcemshd5351156d07606fp17eb91jsn6625440f64ae"/>
		<add key="api_host" value="omgvamp-hearthstone-v1.p.rapidapi.com"/>
		<add key="api_cookie" value="XSRF-TOKEN=eyJpdiI6Ikcrd05yek5EVExMeGNcL0FIc3BjMHFnPT0iLCJ2YWx1ZSI6IjhoaFwvNXJnUG9wOGV4eERJM2V6ZXgwbWozN2N0WFpXa2llQzRWV01EVmdLQTZuRHZSWEMxMVZYeWtDWnJKMGI3N0FcL1kzeDd3SzRmckVyKzRiMVdXc2c9PSIsIm1hYyI6ImY4ZTdjYTZkM2UzMTI4MjJhMmI4ZmJlYzEyNGYxYmYzNWFjYWFkNGE3NmJiY2U1NTdlOTNiMjg2NGJhNDIzOTEifQ%3D%3D; laravel_session=eyJpdiI6ImxNZlBMdDlqbkg4SDN3Nmo5ZnVqOHc9PSIsInZhbHVlIjoiYXVwQ0NcL1dYbGR5ZDFGZlJQbXRjSGduMWx1QjRkK2ZIXC92YU4xRWxkcHJuSlRuQkJCSm1RS3p2NHQyQ3JlSVk3ZE1YaG5ON3VDUEhvUXBwbjUzV1o4Zz09IiwibWFjIjoiZmNhZmMwN2RmMmYzNzk4MTM1N2NkM2QxYmQ0YmZjZGJmODU2ODBmNTlhYjExM2U2ZGQyOWJlZTZlYmVlOWU2ZSJ9"/>
	</appSettings>
</configuration>